Repository capactio/capact, pull requests merged in 2021-09, with the labels that each got.

#463 Allow to use '.' in jinja keys
  .github/workflows/pr-build.yaml
  hack/images/jinja2/README.md
  hack/images/jinja2/jinja2-cli/jinja2cli/capact.py
  hack/images/jinja2/jinja2-cli/jinja2cli/cli.py
  hack/images/jinja2/jinja2-cli/tests/test_jinja2cli.py
  internal/cli/alpha/manifestgen/helm.go
Labels: area/hub-manifests

#461 Automate release
  .github/workflows/branch-build.yaml
  .github/workflows/make-release.yaml
  .goreleaser.yml
  .grenrc.yaml
  hack/make-release.sh
Labels: enhancement, area/ci

#471 Save rendered workflow, even if linting fails
  internal/k8s-engine/controller/action_controller.go
  internal/k8s-engine/controller/action_service.go
Labels: enhancement, area/engine

#474 Show sudo password prompt
  internal/cli/capact/os.go
  internal/cli/install/install.go
Labels: bug, area/cli

#470 Support multiple input parameters
  internal/cli/action/converter.go
  internal/cli/action/create_opts.go
  internal/cli/upgrade/upgrade.go
  internal/k8s-engine/controller/action_controller_test.go
  internal/k8s-engine/controller/action_service.go
  internal/k8s-engine/graphql/domain/action/converter.go
  internal/k8s-engine/graphql/domain/action/fixtures_test.go
  pkg/sdk/renderer/argo/dedicated_renderer.go
  pkg/sdk/renderer/argo/helpers.go
  pkg/sdk/renderer/argo/options.go
  pkg/sdk/renderer/argo/renderer.go
  pkg/sdk/renderer/argo/renderer_test.go
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPath/Mattermost_workflow_with_user_input.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPath/Nested_PostgreSQL_change_password.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPath/PostgreSQL_change_password.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPath/PostgreSQL_workflow_with_user_input_and_without_TypeInstances.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPath/Workflow_with_apps_stack_installation_with_user_input.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPath/Workflow_with_two_input_parameters.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/CloudSQL_PostgreSQL_installation_with_GCP_SA_injected.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Mattermost_with_AWS_RDS_install.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Mattermost_with_CloudSQL_PostgreSQL_installation_with_GCP_SA_injected.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Mattermost_with_CloudSQL_using_Terraform.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Mattermost_with_existing_DB_installation.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/RDS_installation_with_AWS_SA_and_additional_parameters_injected.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Unmet_policy_constraints_-_fallback_to_Bitnami_Implementation.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Workflow_policy_injects_additional_input_-_reference_by_ManifestRef.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Workflow_policy_injects_additional_input_-_reference_by_alias.golden.yaml
  pkg/sdk/renderer/argo/testdata/hub/implementation/multiparam/two.yaml
  pkg/sdk/renderer/argo/testdata/hub/interface/multiparam/two.yaml
  pkg/sdk/renderer/argo/types.go
  test/e2e/action_test.go
Labels: enhancement, breaking, area/engine

#475 Add local registry support for k3d environment
  Dockerfile
  Makefile
  cmd/cli/cmd/environment/create/k3d.go
  cmd/cli/cmd/environment/delete/k3d.go
  cmd/cli/cmd/install.go
  cmd/cli/docs/capact_environment_create_k3d.md
  cmd/cli/docs/capact_environment_delete_k3d.md
  cmd/cli/docs/capact_install.md
  go.mod
  hack/dev-cluster-create.sh
  hack/dev-cluster-update.sh
  hack/lib/utilities.sh
  internal/cli/capact/build.go
  internal/cli/capact/capact.go
  internal/cli/capact/components.go
  internal/cli/capact/images.go
  internal/cli/capact/k3d.go
  internal/cli/capact/os.go
  internal/cli/environment/create/defaults.go
  internal/cli/environment/create/k3d.go
  internal/cli/environment/create/k3d_defaults.go
  internal/cli/environment/create/local_registry.go
  internal/cli/environment/create/tmpl/k3d-config.tmpl.yaml
  internal/cli/environment/delete/k3d.go
  internal/cli/environment/delete/registry.go
  internal/cli/install/install.go
  internal/cli/printer/status.go
Labels: enhancement, area/cli

#476 Add option to archive images from Capact Helm Charts, make neo4j "internetless"
  cmd/cli/cmd/alpha/alpha.go
  cmd/cli/cmd/alpha/archive-images/archive_images.go
  cmd/cli/cmd/alpha/archive-images/helm_charts.go
  cmd/cli/docs/capact_alpha.md
  cmd/cli/docs/capact_alpha_archive-images.md
  cmd/cli/docs/capact_alpha_archive-images_helm.md
  deploy/kubernetes/charts/argo/values.yaml
  deploy/kubernetes/charts/ingress-nginx/values.yaml
  deploy/kubernetes/charts/neo4j/values.yaml
  hack/images/neo4j/Dockerfile
  hack/images/neo4j/README.md
  hack/images/neo4j/docker-entrypoint.sh
  hack/images/neo4j/neo4jlabs-plugins.json
  hack/lib/utilities.sh
  hack/lint.sh
  internal/cli/alpha/archive-images/helm.go
  internal/cli/alpha/archive-images/helm_opts.go
  internal/cli/capact/build.go
  internal/cli/capact/capact.go
  internal/cli/capact/components.go
  internal/cli/capact/images.go
  internal/cli/dockerutil/pull.go
  internal/cli/environment/create/k3d.go
  internal/cli/environment/create/local_registry.go
  internal/cli/environment/delete/k3d.go
  internal/cli/environment/delete/registry.go
  internal/cli/printer/logrus.go
  internal/cli/printer/status.go
  internal/cli/printer/status_noop.go
  pkg/engine/k8s/api/v1alpha1/zz_generated.deepcopy.go
  pkg/engine/k8s/policy/zz_generated.deepcopy.go
  pkg/sdk/apis/0.0.1/types/zz_generated.deepcopy.go
Labels: enhancement, area/cli

#485 Fix not returned error in CLI when input parameters are wrong
  internal/cli/action/create_opts.go
Labels: bug, area/cli

#490 Fix changed helm-repo-url references
  .github/workflows/branch-build.yaml
  .github/workflows/recreate_cluster.yaml
  hack/lib/utilities.sh
Labels: bug, area/ci

#517 Bump Alpine base image and Terraform version
  Dockerfile
Labels: security, area/engine, area/hub, area/gateway

#519 Update links after moving Community documents to a separate section on website
  CONTRIBUTING.md
  README.md
  cmd/argo-actions/README.md
  cmd/argo-runner/README.md
  cmd/cli/README.md
  cmd/cloudsql-runner/README.md
  cmd/gateway/README.md
  cmd/helm-runner/README.md
  cmd/k8s-engine/README.md
  cmd/populator/README.md
  cmd/terraform-runner/README.md
  deploy/kubernetes/README.md
  hub-js/README.md
Labels: bug, area/community, area/documentation
