Repository capactio/capact, pull requests merged in 2021-12, with the labels that each got.

#572 Enable CORS for Capact Gateway Ingress
  deploy/kubernetes/charts/capact/charts/gateway/templates/ingress.yaml
  deploy/kubernetes/charts/capact/charts/gateway/values.yaml
  internal/cli/capact/defaults.go
Labels: enhancement, area/gateway

#575 [terraform-gen] Add default property, set human-readable title in JSONSchema
  go.mod
  go.sum
  internal/cli/alpha/manifestgen/manifestgen_test.go
  internal/cli/alpha/manifestgen/terraform.go
  internal/cli/alpha/manifestgen/testdata/cap.type.terraform.aws.test-input.yaml
  internal/cli/alpha/manifestgen/testdata/cap.type.terraform.gcp.test-input.yaml
  internal/cli/alpha/manifestgen/testdata/cap.type.terraform.generic.test-input.yaml
Labels: enhancement, area/cli

#573 Remove unresolved fields of input and output TypeInstances from Engine APIs
  deploy/kubernetes/crds/core.capact.io_actions.yaml
  internal/k8s-engine/controller/action_service.go
  internal/k8s-engine/graphql/domain/action/converter.go
  internal/k8s-engine/graphql/domain/action/fixtures_test.go
  pkg/engine/api/graphql/examples.graphql
  pkg/engine/api/graphql/models_gen.go
  pkg/engine/api/graphql/schema.graphql
  pkg/engine/api/graphql/schema_gen.go
  pkg/engine/client/fields.go
  pkg/engine/k8s/api/v1alpha1/action_types.go
  pkg/engine/k8s/api/v1alpha1/zz_generated.deepcopy.go
Labels: bug, area/engine

#576 Ensure that created resources are update when needed
  cmd/cli/cmd/install.go
  cmd/cli/cmd/upgrade.go
  cmd/cli/docs/capact_install.md
  cmd/cli/docs/capact_upgrade.md
  go.mod
  go.sum
  internal/cli/capact/capact.go
  internal/cli/capact/cert_manager.go
  internal/cli/capact/components.go
  internal/cli/capact/components_test.go
  internal/cli/capact/crd.go
  internal/cli/capact/defaults.go
  internal/cli/capact/k8s.go
  internal/cli/capact/parameters.go
  internal/cli/capact/parameters_test.go
  internal/cli/capact/retry.go
  internal/cli/install/install.go
Labels: bug, enhancement, area/cli

#574 Support for validate the whole hub manifest
  cmd/cli/cmd/manifest/validate.go
  cmd/cli/docs/capact_manifest_validate.md
  internal/cli/validate/validate.go
  internal/cli/validate/validate_test.go
Labels: area/cli, area/hub-manifests

#581 Fix detecting invalid JSONSchemas
  pkg/sdk/validation/manifest/fsvalidator_test.go
  pkg/sdk/validation/manifest/schema_validate.go
  pkg/sdk/validation/manifest/schema_validate_test.go
Labels: bug, area/cli, area/hub-manifests

#578 Migrate yq to V4
  hack/ci/add-job-ip.sh
  hack/ci/remove-job-ip.sh
  hack/monitoring/manage-ip.sh
Labels: area/ci

#586 Fix releasing CLIs pipeline
  .github/workflows/branch-build.yaml
  .github/workflows/make-release.yaml
  .github/workflows/pr-build.yaml
  .github/workflows/recreate_cluster.yaml
Labels: bug, area/cli, area/ci

#588 Retry creating ClusterIssuer during Capact installation
  internal/cli/capact/cert_manager.go
  internal/cli/capact/retry.go
Labels: bug, area/cli

#589 Bump Neo4j to 4.2.13 and apoc to 4.2.09
  deploy/kubernetes/charts/neo4j/values.yaml
  hack/images/neo4j/Dockerfile
  hack/images/neo4j/README.md
Labels: bug, security, area/hub

#591 Update Code Owners
  CODEOWNERS
Labels: area/community

#590 Update runc Go dependency and Jinja2 templating base image
  go.mod
  go.sum
  hack/images/jinja2/Dockerfile
  hack/images/jinja2/jinja2-cli/jinja2cli/cli.py
  hack/images/jinja2/jinja2-cli/setup.py
Labels: bug, dependencies, security

#583 Describe Delegated Storage concept
  docs/proposal/20211207-delegated-storage.md
Labels: enhancement, area/documentation

#592 Ensure map initialized before accessing it, create secret only if needed
  internal/k8s-engine/controller/action_service.go
  internal/k8s-engine/graphql/domain/action/converter.go
  internal/k8s-engine/graphql/domain/action/converter_test.go
  internal/k8s-engine/graphql/domain/action/fixtures_test.go
  internal/k8s-engine/graphql/domain/action/service.go
Labels: bug, area/engine
