Repository capactio/capact, pull requests merged in 2021-08, with the labels that each got.

#424 Remove the ClusterRoleBinding, fix get query for ClusterRoleBinding
  .github/workflows/pr-build.yaml
  deploy/kubernetes/charts/capact/charts/engine/templates/deployment.yaml
  deploy/kubernetes/charts/capact/templates/tests/test-e2e.yaml
  internal/k8s-engine/controller/action_controller.go
  internal/k8s-engine/controller/action_service.go
  test/e2e/cluster_test.go
Labels: area/engine, bug

#406 Add support for hub-manifest ref update, update ref to latest ver
  .github/workflows/pr-build.yaml
  deploy/kubernetes/charts/capact/charts/hub-public/templates/_helpers.tpl
  deploy/kubernetes/charts/capact/charts/hub-public/values.yaml
  hack/lib/const.sh
  hack/lib/utilities.sh
Labels: area/ci, area/hub-manifests

#427 Bump hub manifests sources to the newest version
  hack/lib/const.sh
Labels: area/hub-manifests, bug

#428 Add helper image `merger` to merge yaml files
  Makefile
  hack/ci/setup-env.sh
  hack/images/README.md
  hack/images/merger/Dockerfile
  hack/images/merger/README.md
  hack/images/merger/merger.sh
Labels: enhancement, area/hub-manifests

#429 Bump Hub dependencies
  hub-js/Dockerfile
  hub-js/README.md
  hub-js/package-lock.json
  hub-js/package.json
  hub-js/src/index.ts
  hub-js/src/schema/local.ts
Labels: bug, security, area/hub

#436 Populate Type Attributes and require manifest revisions in OCF schema
  hack/gen_go_api_issue_exceptions.txt
  internal/cli/schema/static_schema_gen.go
  ocf-spec/0.0.1/examples/implementation.yaml
  ocf-spec/0.0.1/schema/implementation.json
  pkg/sdk/apis/0.0.1/types/types.generated.go
  pkg/sdk/dbpopulator/populator.go
Labels: bug, area/hub, area/hub-manifests

#439 Add option to cancel build process during installation
  internal/cli/capact/build.go
  internal/cli/install/install.go
Labels: bug, area/cli

#435 Increase cluster CPU limit to 10 and memory to 40GB
  hack/ci/terraform/cluster.tf
  hack/ci/terraform/google_compute_firewall.tf
  hack/ci/terraform/google_compute_network.tf
  hack/ci/terraform/google_compute_subnetwork.tf
  hack/ci/terraform/router.tf
  hack/ci/terraform/variables.tf
Labels: bug, area/ci

#422 Add Interface and Terraform Implementation content creator
  cmd/cli/cmd/alpha/alpha.go
  cmd/cli/cmd/alpha/manifest-gen/implementation/implementation.go
  cmd/cli/cmd/alpha/manifest-gen/implementation/terraform.go
  cmd/cli/cmd/alpha/manifest-gen/interface.go
  cmd/cli/cmd/alpha/manifest-gen/manifest-gen.go
  cmd/cli/cmd/root.go
  cmd/cli/docs/capact.md
  cmd/cli/docs/capact_alpha.md
  cmd/cli/docs/capact_alpha_content.md
  cmd/cli/docs/capact_alpha_content_interface.md
  cmd/cli/docs/capact_alpha_content_terraform.md
  cmd/cli/docs/capact_alpha_manifest-gen.md
  cmd/cli/docs/capact_alpha_manifest-gen_implementation.md
  cmd/cli/docs/capact_alpha_manifest-gen_implementation_terraform.md
  cmd/cli/docs/capact_alpha_manifest-gen_interface.md
  cmd/cli/docs/capact_alpha_terraform.md
  go.mod
  go.sum
  internal/cli/alpha/manifestgen/helpers.go
  internal/cli/alpha/manifestgen/interface.go
  internal/cli/alpha/manifestgen/manifestgen.go
  internal/cli/alpha/manifestgen/provider.go
  internal/cli/alpha/manifestgen/templates.go
  internal/cli/alpha/manifestgen/templates/interface-group.yaml.tmpl
  internal/cli/alpha/manifestgen/templates/interface.yaml.tmpl
  internal/cli/alpha/manifestgen/templates/output-type.yaml.tmpl
  internal/cli/alpha/manifestgen/templates/terraform-implementation.yaml.tmpl
  internal/cli/alpha/manifestgen/templates/type.yaml.tmpl
  internal/cli/alpha/manifestgen/terraform.go
  pkg/sdk/dbpopulator/loader.go
  pkg/sdk/manifest/metadata.go
  pkg/sdk/manifest/validation.go
Labels: enhancement, area/cli, area/hub-manifests

#437 Implement concurrent manifest validation against Hub in CLI
  cmd/cli/cmd/manifest/manifest.go
  cmd/cli/cmd/manifest/validate.go
  cmd/cli/cmd/root.go
  cmd/cli/cmd/validate.go
  cmd/cli/docs/capact.md
  cmd/cli/docs/capact_manifest.md
  cmd/cli/docs/capact_manifest_validate.md
  cmd/cli/main.go
  internal/cli/alpha/manifestgen/interface.go
  internal/cli/alpha/manifestgen/metadata.go
  internal/cli/alpha/manifestgen/terraform.go
  internal/cli/client/hub.go
  internal/cli/schema/schema.go
  internal/cli/validate/validate.go
  internal/cli/validate/validate_test.go
  ocf-spec/0.0.1/examples/examples_test.go
  pkg/hub/api/graphql/public/models.extended.go
  pkg/hub/client/client.go
  pkg/hub/client/public/client.go
  pkg/sdk/apis/0.0.1/types/types.extend.go
  pkg/sdk/dbpopulator/loader.go
  pkg/sdk/manifest/metadata.go
  pkg/sdk/manifest/testdata/correct_implementation.yaml
  pkg/sdk/manifest/validation.go
  pkg/sdk/manifest/validation_test.go
  pkg/sdk/validation/manifest/fsvalidator.go
  pkg/sdk/validation/manifest/fsvalidator_test.go
  pkg/sdk/validation/manifest/json_ocfschema.go
  pkg/sdk/validation/manifest/json_remote_helper.go
  pkg/sdk/validation/manifest/json_remote_implementation.go
  pkg/sdk/validation/manifest/json_remote_interface.go
  pkg/sdk/validation/manifest/json_remote_type.go
  pkg/sdk/validation/manifest/json_type.go
  pkg/sdk/validation/manifest/options.go
  pkg/sdk/validation/manifest/testdata/invalid-implementation.yaml
  pkg/sdk/validation/manifest/testdata/invalid-interface.yaml
  pkg/sdk/validation/manifest/testdata/invalid-manifest.yaml
  pkg/sdk/validation/manifest/testdata/invalid-type.yaml
  pkg/sdk/validation/manifest/testdata/invalid-type_json-schema.yaml
  pkg/sdk/validation/manifest/testdata/valid-implementation.yaml
  pkg/sdk/validation/manifest/testdata/valid-interface.yaml
  pkg/sdk/validation/manifest/testdata/valid-type.yaml
  pkg/sdk/validation/manifest/types.go
Labels: enhancement, area/cli, area/hub-manifests

#432 Add option to validate input data both in CLI and Renderer
  cmd/cli/cmd/action/create.go
  cmd/cli/docs/capact_action_create.md
  cmd/k8s-engine/main.go
  go.mod
  go.sum
  hub-js/graphql/public/schema.graphql
  internal/cli/action/converter.go
  internal/cli/action/create.go
  internal/cli/action/create_opts.go
  internal/cli/action/get.go
  internal/cli/action/helpers.go
  internal/cli/client/hub.go
  internal/ctxutil/check.go
  internal/ctxutil/check_test.go
  internal/k8s-engine/controller/action_controller.go
  internal/k8s-engine/controller/action_service.go
  pkg/hub/api/graphql/public/schema_gen.go
  pkg/hub/client/client.go
  pkg/hub/client/fake/fake.go
  pkg/hub/client/local/client.go
  pkg/hub/client/policy_enforced_client.go
  pkg/hub/client/public/client.go
  pkg/hub/client/public/fields.go
  pkg/hub/client/public/iface_options.go
  pkg/hub/client/public/impl_options.go
  pkg/sdk/renderer/argo/dedicated_renderer.go
  pkg/sdk/renderer/argo/helpers.go
  pkg/sdk/renderer/argo/options.go
  pkg/sdk/renderer/argo/renderer.go
  pkg/sdk/renderer/argo/renderer_test.go
  pkg/sdk/renderer/input_validator.go
  pkg/sdk/validation/action/io_validator.go
  pkg/sdk/validation/action/io_validator_test.go
  pkg/sdk/validation/issue_builder.go
  pkg/sdk/validation/result_aggregator.go
  pkg/sdk/validation/types.go
  pkg/sdk/validation/types_test.go
Labels: enhancement, area/engine, area/cli

#448 Fix test for the OCF schemas
  hack/test-unit.sh
  ocf-spec/0.0.1/examples/examples_test.go
Labels: bug, area/ocf

#449 Update docker library to 20.10
  go.mod
  go.sum
Labels: bug, area/cli

#454 Remove hardcoded images for Capact charts
  cmd/populator/cmd/register/ocf_manifests.go
  deploy/kubernetes/charts/capact/charts/engine/templates/deployment.yaml
  deploy/kubernetes/charts/capact/templates/tests/test-e2e.yaml
  pkg/hub/client/public/client.go
  test/e2e/e2e_suite_test.go
Labels: bug, area/engine

#455 Bring back waiting for Service endpoints ready in E2E tests
  test/e2e/e2e_suite_test.go
Labels: bug, area/ci

#457 Fix creating Action Policy, replace gotest.tools with testify and unify cmds naming
  cmd/cli/cmd/action/action.go
  cmd/cli/cmd/alpha/manifest-gen/implementation/implementation.go
  cmd/cli/cmd/alpha/manifest-gen/interface.go
  cmd/cli/cmd/hub/implementations/implementation.go
  cmd/cli/cmd/hub/interfaces/interface.go
  cmd/cli/cmd/manifest/manifest.go
  cmd/cli/cmd/typeinstance/type_instance.go
  cmd/cli/docs/capact_hub.md
  cmd/cli/docs/capact_hub_implementation.md
  cmd/cli/docs/capact_hub_implementation_get.md
  cmd/cli/docs/capact_hub_interface.md
  cmd/cli/docs/capact_hub_interface_browse.md
  cmd/cli/docs/capact_hub_interface_get.md
  cmd/cli/docs/capact_hub_interfaces.md
  internal/gateway/header/context_test.go
  internal/k8s-engine/graphql/domain/action/converter.go
  internal/k8s-engine/graphql/domain/action/converter_test.go
  internal/k8s-engine/graphql/domain/action/fixtures_test.go
  internal/k8s-engine/graphql/domain/action/service_test.go
  internal/k8s-engine/graphql/namespace/context_test.go
  pkg/hub/api/graphql/public/helpers_test.go
Labels: bug, enhancement, area/engine

#452 Improve Policy syntax and behavior for required TypeInstance injection
  Makefile
  deploy/kubernetes/charts/capact/charts/engine/values.yaml
  hack/gen-graphql-resources.sh
  internal/cli/capact/components.go
  internal/cli/validate/validate_test.go
  internal/k8s-engine/controller/action_service.go
  internal/k8s-engine/graphql/domain/action/fixtures_test.go
  internal/k8s-engine/graphql/domain/policy/converter.go
  internal/k8s-engine/graphql/domain/policy/fixtures_test.go
  internal/k8s-engine/policy/fixtures_test.go
  internal/k8s-engine/policy/service_test.go
  internal/maps/merge.go
  internal/maps/merge_test.go
  pkg/engine/api/graphql/config.yaml
  pkg/engine/api/graphql/examples.graphql
  pkg/engine/api/graphql/models_gen.go
  pkg/engine/api/graphql/policy.go
  pkg/engine/api/graphql/schema.graphql
  pkg/engine/api/graphql/schema_gen.go
  pkg/engine/client/fields.go
  pkg/engine/k8s/policy/error.go
  pkg/engine/k8s/policy/fixtures_test.go
  pkg/engine/k8s/policy/from_yaml.go
  pkg/engine/k8s/policy/from_yaml_test.go
  pkg/engine/k8s/policy/predefined.go
  pkg/engine/k8s/policy/testdata/invalid.yaml
  pkg/engine/k8s/policy/testdata/valid.yaml
  pkg/engine/k8s/policy/types.go
  pkg/engine/k8s/policy/types_test.go
  pkg/engine/k8s/policy/workflow.go
  pkg/engine/k8s/policy/zz_generated.deepcopy.go
  pkg/hub/client/fake/fake.go
  pkg/hub/client/policy_enforced_client.go
  pkg/hub/client/policy_enforced_client_test.go
  pkg/hub/client/policy_merger.go
  pkg/hub/client/policy_merger_test.go
  pkg/sdk/apis/0.0.1/types/types.extend.go
  pkg/sdk/apis/0.0.1/types/zz_generated.deepcopy.go
  pkg/sdk/renderer/argo/dedicated_renderer.go
  pkg/sdk/renderer/argo/fixtures_test.go
  pkg/sdk/renderer/argo/renderer.go
  test/e2e/action_test.go
Labels: enhancement, breaking, area/engine, area/hub

#450 Tidy up syntax for passing additional parameters
  Makefile
  hack/gen_go_api_issue_exceptions.txt
  hack/lib/const.sh
  hub-js/graphql/public/schema.graphql
  internal/cli/alpha/manifestgen/templates/terraform-implementation.yaml.tmpl
  internal/cli/schema/static_schema_gen.go
  internal/k8s-engine/graphql/domain/action/fixtures_test.go
  internal/k8s-engine/graphql/domain/policy/converter.go
  internal/k8s-engine/graphql/domain/policy/fixtures_test.go
  ocf-spec/0.0.1/examples/implementation.yaml
  ocf-spec/0.0.1/schema/implementation.json
  pkg/engine/api/graphql/examples.graphql
  pkg/engine/api/graphql/models_gen.go
  pkg/engine/api/graphql/policy.go
  pkg/engine/api/graphql/schema.graphql
  pkg/engine/api/graphql/schema_gen.go
  pkg/engine/client/fields.go
  pkg/engine/k8s/policy/from_yaml_test.go
  pkg/engine/k8s/policy/testdata/valid.yaml
  pkg/engine/k8s/policy/types.go
  pkg/engine/k8s/policy/workflow.go
  pkg/hub/api/graphql/public/models_gen.go
  pkg/hub/api/graphql/public/schema_gen.go
  pkg/hub/client/policy_enforced_client.go
  pkg/hub/client/policy_merger.go
  pkg/hub/client/policy_merger_test.go
  pkg/hub/client/public/impl_fields.go
  pkg/sdk/apis/0.0.1/types/types.extend.go
  pkg/sdk/apis/0.0.1/types/types.generated.go
  pkg/sdk/dbpopulator/populator.go
  pkg/sdk/renderer/argo/dedicated_renderer.go
  pkg/sdk/renderer/argo/fixtures_test.go
  pkg/sdk/renderer/argo/helpers.go
  pkg/sdk/renderer/argo/renderer.go
  pkg/sdk/renderer/argo/renderer_test.go
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Mattermost_with_CloudSQL_using_Terraform.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/RDS_installation_with_AWS_SA_and_additional_parameters_injected.golden.yaml
  pkg/sdk/renderer/argo/testdata/hub/implementation/app-stack/app1/install.yaml
  pkg/sdk/renderer/argo/testdata/hub/implementation/app-stack/app2/install.yaml
  pkg/sdk/renderer/argo/testdata/hub/implementation/aws/rds/postgresql/install.yaml
  pkg/sdk/renderer/input_validator.go
  pkg/sdk/validation/action/io_validator.go
  pkg/sdk/validation/action/io_validator_test.go
  pkg/sdk/validation/manifest/json_remote_implementation.go
  pkg/sdk/validation/manifest/json_remote_interface.go
  pkg/sdk/validation/manifest/testdata/valid-implementation.yaml
  test/e2e/hub_test.go
Labels: breaking, area/engine, area/hub, area/ocf

#460 Fix k8s controller test, add retry for createObject, revert hub-manifest sources
  hack/lib/const.sh
  internal/cli/capact/components.go
  internal/cli/capact/components_test.go
  internal/cli/schema/embed_schema.go
  internal/k8s-engine/controller/action_controller_test.go
  internal/k8s-engine/controller/suite_test.go
Labels: enhancement, area/cli, area/hub-manifests

#458 Filter Implementations which need missing required TypeInstance injection
  cmd/populator/cmd/register/ocf_manifests.go
  hub-js/graphql/public/schema.graphql
  internal/cli/heredoc/heredoc.go
  internal/k8s-engine/graphql/domain/action/resolver.go
  internal/multierror/multierror.go
  pkg/engine/k8s/policy/deepcopy.extend.go
  pkg/engine/k8s/policy/fixtures_test.go
  pkg/engine/k8s/policy/resolve.go
  pkg/engine/k8s/policy/resolve_test.go
  pkg/engine/k8s/policy/types.go
  pkg/engine/k8s/policy/types_test.go
  pkg/engine/k8s/policy/validate.go
  pkg/engine/k8s/policy/validate_test.go
  pkg/hub/api/graphql/public/models_gen.go
  pkg/hub/api/graphql/public/schema_gen.go
  pkg/hub/client/policy_enforced_client.go
  pkg/hub/client/policy_enforced_client_test.go
  pkg/hub/client/public/filter.go
  pkg/hub/client/public/filter_test.go
  pkg/hub/client/public/impl_options.go
  pkg/sdk/renderer/argo/fixtures_test.go
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Mattermost_with_AWS_RDS_install.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Workflow_policy_injects_additional_input_-_reference_by_ManifestRef.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Workflow_policy_injects_additional_input_-_reference_by_alias.golden.yaml
  pkg/sdk/validation/action/io_validator.go
  pkg/sdk/validation/issue_builder.go
  pkg/sdk/validation/types.go
  test/e2e/action_test.go
  test/e2e/hub_test.go
Labels: enhancement, area/engine

#462 Add global verbose flag to CLI, add spent time info
  cmd/cli/cmd/alpha/manifest-gen/implementation/helm.go
  cmd/cli/cmd/install.go
  cmd/cli/cmd/manifest/validate.go
  cmd/cli/cmd/root.go
  cmd/cli/docs/capact.md
  cmd/cli/docs/capact_action.md
  cmd/cli/docs/capact_action_create.md
  cmd/cli/docs/capact_action_delete.md
  cmd/cli/docs/capact_action_get.md
  cmd/cli/docs/capact_action_run.md
  cmd/cli/docs/capact_action_watch.md
  cmd/cli/docs/capact_alpha.md
  cmd/cli/docs/capact_alpha_manifest-gen.md
  cmd/cli/docs/capact_alpha_manifest-gen_implementation.md
  cmd/cli/docs/capact_alpha_manifest-gen_implementation_helm.md
  cmd/cli/docs/capact_alpha_manifest-gen_implementation_terraform.md
  cmd/cli/docs/capact_alpha_manifest-gen_interface.md
  cmd/cli/docs/capact_completion.md
  cmd/cli/docs/capact_config.md
  cmd/cli/docs/capact_config_get-contexts.md
  cmd/cli/docs/capact_config_set-context.md
  cmd/cli/docs/capact_environment.md
  cmd/cli/docs/capact_environment_create.md
  cmd/cli/docs/capact_environment_create_kind.md
  cmd/cli/docs/capact_environment_delete.md
  cmd/cli/docs/capact_environment_delete_kind.md
  cmd/cli/docs/capact_hub.md
  cmd/cli/docs/capact_hub_implementation.md
  cmd/cli/docs/capact_hub_implementation_get.md
  cmd/cli/docs/capact_hub_interface.md
  cmd/cli/docs/capact_hub_interface_browse.md
  cmd/cli/docs/capact_hub_interface_get.md
  cmd/cli/docs/capact_install.md
  cmd/cli/docs/capact_login.md
  cmd/cli/docs/capact_logout.md
  cmd/cli/docs/capact_manifest.md
  cmd/cli/docs/capact_manifest_validate.md
  cmd/cli/docs/capact_policy.md
  cmd/cli/docs/capact_policy_apply.md
  cmd/cli/docs/capact_policy_edit.md
  cmd/cli/docs/capact_policy_get.md
  cmd/cli/docs/capact_typeinstance.md
  cmd/cli/docs/capact_typeinstance_apply.md
  cmd/cli/docs/capact_typeinstance_create.md
  cmd/cli/docs/capact_typeinstance_delete.md
  cmd/cli/docs/capact_typeinstance_edit.md
  cmd/cli/docs/capact_typeinstance_get.md
  cmd/cli/docs/capact_upgrade.md
  cmd/cli/docs/capact_version.md
  internal/cli/capact/capact.go
  internal/cli/capact/components.go
  internal/cli/client/cluster.go
  internal/cli/client/hub.go
  internal/cli/printer/status.go
  internal/cli/validate/validate.go
  internal/cli/verbose.go
  internal/cli/verbose_test.go
  pkg/engine/client/client.go
  test/e2e/e2e_suite_test.go
Labels: enhancement, area/cli
