Repository capactio/capact, pull requests merged in 2022-04, with the labels that each got.

#693 Use golangci-lint GitHub Action in pipelines
  .github/workflows/branch-build.yaml
  .github/workflows/pr-build.yaml
  hack/ci/setup-env.sh
  hack/lint.sh
Labels: enhancement, area/ci

#694 Improve readability of context schema
  hub-js/src/local/storage/backend-schema.ts
  hub-js/src/local/storage/service.ts
  internal/cli/testing/storage_backend.go
  test/local-hub/external_storage_backend_test.go
  test/local-hub/input_validation_test.go
Labels: enhancement, area/hub, area/cli

#698 Add opt to remove TypeInstance's revision, fix update mutation
  hub-js/proto/storage_backend.proto
  hub-js/src/generated/grpc/storage_backend.ts
  hub-js/src/index.ts
  hub-js/src/local/resolver/field/spec-value-field.ts
  hub-js/src/local/resolver/mutation/context.ts
  hub-js/src/local/resolver/mutation/update-type-instances.ts
  hub-js/src/local/storage/service.ts
  hub-js/src/local/storage/update-args-container.ts
  internal/helm-storage-backend/release.go
  internal/helm-storage-backend/release_test.go
  internal/helm-storage-backend/template.go
  internal/helm-storage-backend/template_test.go
  internal/secret-storage-backend/server.go
  internal/secret-storage-backend/server_test.go
  pkg/hub/api/grpc/storage_backend/client_test.go
  pkg/hub/api/grpc/storage_backend/storage_backend.pb.go
  pkg/hub/api/grpc/storage_backend/storage_backend_grpc.pb.go
  test/local-hub/crud_test.go
  test/local-hub/docker-compose.yml
  test/local-hub/external_storage_backend_test.go
  test/local-hub/helpers_test.go
Labels: bug, area/hub

#697 Implement TypeInstance Value Resolver and modify TypeInstance upload
  Makefile
  cmd/argo-actions/README.md
  cmd/argo-actions/example-input/upload/payload.yaml
  cmd/argo-actions/example-input/upload/typeinstances/context
  cmd/argo-actions/example-input/upload/typeinstances/value
  cmd/argo-actions/example-input/upload/typeinstances/value-context
  cmd/ti-value-fetcher/README.md
  cmd/ti-value-fetcher/example-input/input-ti.yaml
  cmd/ti-value-fetcher/example-input/storage-backend.yaml
  cmd/ti-value-fetcher/main.go
  hack/ci/setup-env.sh
  internal/cli/testing/storage_backend.go
  internal/helm-storage-backend/helm_rel_fetcher.go
  internal/helm-storage-backend/release.go
  internal/helm-storage-backend/release_test.go
  internal/helm-storage-backend/template.go
  internal/helm-storage-backend/template_test.go
  internal/ti-value-fetcher/fetcher.go
  internal/ti-value-fetcher/fetcher_test.go
  internal/ti-value-fetcher/testdata/input-ti.yaml
  internal/ti-value-fetcher/testdata/storage-backend.yaml
  pkg/argo-actions/backend.go
  pkg/argo-actions/backend_test.go
  pkg/argo-actions/update_type_instances.go
  pkg/argo-actions/upload_type_instances.go
  pkg/hub/client/client.go
  pkg/hub/client/local/client.go
  pkg/hub/client/local/fields.go
  pkg/hub/client/local/options.go
  pkg/hub/storage-backend/types.go
Labels: enhancement, area/hub

#703 Fetch value on update only if truly needed by external backend
  hub-js/src/local/resolver/mutation/update-type-instances.ts
  hub-js/src/local/storage/service.ts
Labels: bug, area/hub

#700 Validate Type for storage backends
  hub-js/graphql/public/schema.graphql
  internal/cli/client/hub.go
  pkg/hub/api/graphql/public/models_gen.go
  pkg/hub/api/graphql/public/schema_gen.go
  pkg/hub/client/client.go
  pkg/hub/client/public/client.go
  pkg/sdk/apis/0.0.1/types/types.extend.go
  pkg/sdk/validation/manifest/helpers_test.go
  pkg/sdk/validation/manifest/json_remote_helper.go
  pkg/sdk/validation/manifest/json_remote_implementation_test.go
  pkg/sdk/validation/manifest/json_remote_type.go
  pkg/sdk/validation/manifest/json_remote_type_export_test.go
  pkg/sdk/validation/manifest/json_remote_type_test.go
  pkg/sdk/validation/type_refs.go
  pkg/sdk/validation/type_refs_test.go
Labels: enhancement, area/cli, area/hub-manifests

#699 Support backend context for typeinstance commands
  cmd/cli/cmd/typeinstance/edit.go
  cmd/cli/cmd/typeinstance/get.go
  cmd/cli/cmd/typeinstance/type_instance.go
  pkg/hub/storage-backend/types.go
Labels: area/cli

#711 Fix dead links
  cmd/argo-actions/README.md
  cmd/populator/README.md
  docs/investigation/graph-db/README.md
  docs/investigation/json-go-generators/README.md
  docs/investigation/local-hub-v2/postresql/README.md
Labels: bug
