Repository capactio/capact, pull requests merged in 2022-02, with the labels that each got.

#619 Fix vulnerability detected by dependabot
  hub-js/package-lock.json
  hub-js/package.json
Labels: dependencies, security, area/hub

#610 Validate input parameters names on Implementation manifest
  pkg/sdk/renderer/argo/dedicated_renderer.go
  pkg/sdk/renderer/argo/helpers.go
  pkg/sdk/renderer/argo/renderer.go
  pkg/sdk/renderer/argo/typeinstance_handler.go
  pkg/sdk/validation/manifest/helpers_test.go
  pkg/sdk/validation/manifest/json_remote_helper.go
  pkg/sdk/validation/manifest/json_remote_implementation.go
  pkg/sdk/validation/manifest/json_remote_implementation_export_test.go
  pkg/sdk/validation/manifest/json_remote_implementation_test.go
Labels: enhancement, area/cli, area/hub-manifests

#628 Describe investigation of the Local Hub with PostgreSQL implementation
  docs/investigation/local-hub-psql/README.md
  docs/investigation/local-hub-psql/graphjin/Dockerfile
  docs/investigation/local-hub-psql/graphjin/README.md
  docs/investigation/local-hub-psql/graphjin/cloudbuild.yaml
  docs/investigation/local-hub-psql/graphjin/config/dev.yml
  docs/investigation/local-hub-psql/graphjin/config/migrations/0_init.sql
  docs/investigation/local-hub-psql/graphjin/config/prod.yml
  docs/investigation/local-hub-psql/graphjin/config/seed.js
  docs/investigation/local-hub-psql/graphjin/docker-compose.yml
Labels: enhancement, area/hub, area/documentation

#625 Nest Interface Policy under the `interface` field
  .editorconfig
  deploy/kubernetes/charts/capact/charts/engine/templates/clusterpolicy-configmap.yaml
  deploy/kubernetes/charts/capact/charts/engine/values.yaml
  deploy/kubernetes/charts/capact/templates/tests/test-e2e.yaml
  hub-js/graphql/public/examples.graphql
  internal/cli/action/create_opts.go
  internal/cli/policy/edit.go
  internal/k8s-engine/graphql/domain/action/fixtures_test.go
  internal/k8s-engine/graphql/domain/policy/converter.go
  internal/k8s-engine/graphql/domain/policy/converter_test.go
  internal/k8s-engine/graphql/domain/policy/fixtures_test.go
  internal/k8s-engine/policy/fixtures_test.go
  internal/k8s-engine/policy/service_test.go
  ocf-spec/0.0.1/examples/implementation.yaml
  pkg/engine/api/graphql/examples.graphql
  pkg/engine/api/graphql/models_gen.go
  pkg/engine/api/graphql/schema.graphql
  pkg/engine/api/graphql/schema_gen.go
  pkg/engine/client/fields.go
  pkg/engine/k8s/policy/fixtures_test.go
  pkg/engine/k8s/policy/from_yaml_test.go
  pkg/engine/k8s/policy/metadata/fixtures_test.go
  pkg/engine/k8s/policy/metadata/metadata.go
  pkg/engine/k8s/policy/metadata/metadata_resolver.go
  pkg/engine/k8s/policy/predefined.go
  pkg/engine/k8s/policy/testdata/valid.yaml
  pkg/engine/k8s/policy/types.go
  pkg/engine/k8s/policy/types_test.go
  pkg/engine/k8s/policy/workflow.go
  pkg/engine/k8s/policy/workflow_test.go
  pkg/hub/client/policy_enforced_client.go
  pkg/hub/client/policy_merger.go
  pkg/hub/client/policy_merger_test.go
  pkg/sdk/apis/0.0.1/types/types.extend.go
  pkg/sdk/renderer/argo/fixtures_test.go
  pkg/sdk/renderer/argo/testdata/hub/implementation/app-stack/app1/install.yaml
  pkg/sdk/renderer/argo/testdata/hub/implementation/app-stack/app2/install.yaml
  pkg/sdk/validation/manifest/json_remote_implementation.go
  pkg/sdk/validation/policy/fixtures_test.go
  pkg/sdk/validation/policy/policy_test.go
  test/e2e/action_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/hub_test.go
Labels: breaking, area/engine, area/cli

#638 Update Capact dashboard tag and fix `capact upgrade`
  deploy/kubernetes/charts/capact/values.yaml
  internal/cli/upgrade/upgrade.go
  pkg/sdk/apis/0.0.1/types/types.extend.go
  test/e2e/action_test.go
Labels: area/dashboard

#629 Validate TypeInstance input
  .mlc.config.json
  cmd/argo-actions/README.md
  cmd/argo-actions/main.go
  cmd/cli/cmd/typeinstance/create.go
  cmd/cli/cmd/typeinstance/edit.go
  cmd/k8s-engine/main.go
  deploy/kubernetes/charts/capact/charts/engine/templates/deployment.yaml
  pkg/argo-actions/download_type_instances.go
  pkg/argo-actions/update_type_instances.go
  pkg/argo-actions/upload_type_instances.go
  pkg/hub/client/public/client.go
  pkg/sdk/apis/0.0.1/types/types.extend.go
  pkg/sdk/renderer/argo/dedicated_renderer_test.go
  pkg/sdk/renderer/argo/renderer_test.go
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPath/Mattermost_workflow_with_user_input.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPath/Nested_PostgreSQL_change_password.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPath/PostgreSQL_change_password.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPath/PostgreSQL_workflow_with_user_input_and_without_TypeInstances.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPath/Workflow_with_apps_stack_installation_with_user_input.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/CloudSQL_PostgreSQL_installation_with_GCP_SA_injected.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Mattermost_with_AWS_RDS_install.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Mattermost_with_CloudSQL_PostgreSQL_installation_with_GCP_SA_injected.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Mattermost_with_CloudSQL_using_Terraform.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Mattermost_with_existing_DB_installation.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/RDS_installation_with_AWS_SA_and_additional_parameters_injected.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Unmet_policy_constraints_-_fallback_to_Bitnami_Implementation.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Workflow_policy_injects_additional_input_-_reference_by_ManifestRef.golden.yaml
  pkg/sdk/renderer/argo/testdata/TestRenderHappyPathWithCustomPolicies/Workflow_policy_injects_additional_input_-_reference_by_alias.golden.yaml
  pkg/sdk/renderer/argo/typeinstance_handler.go
  pkg/sdk/validation/issue_builder.go
  pkg/sdk/validation/type_refs.go
  pkg/sdk/validation/type_refs_test.go
  pkg/sdk/validation/typeinstance.go
  pkg/sdk/validation/typeinstance_test.go
  test/e2e/hub_test.go
Labels: area/hub, area/cli, area/hub-manifests

#641 Order returned TypeInstances by path:revision and createdAt
  hub-js/graphql/local/examples.graphql
  hub-js/graphql/local/schema.graphql
  hub-js/src/schema/local.ts
  pkg/hub/api/graphql/local/models_gen.go
  pkg/hub/api/graphql/local/schema_gen.go
Labels: enhancement, area/hub

#644 Implement Secret storage backend as gRPC server
  Makefile
  cmd/k8s-engine/README.md
  cmd/secret-storage-backend/README.md
  cmd/secret-storage-backend/main.go
  docs/proposal/20211207-delegated-storage.md
  go.mod
  go.sum
  hack/ci/setup-env.sh
  hack/gen-graphql-resources.sh
  hack/gen-grpc-resources.sh
  hack/gen-k8s-resources.sh
  hack/lib/const.sh
  hack/lint.sh
  internal/secret-storage-backend/fake_provider_test.go
  internal/secret-storage-backend/server.go
  internal/secret-storage-backend/server_test.go
  pkg/hub/api/grpc/storage_backend.proto
  pkg/hub/api/grpc/storage_backend/client_test.go
  pkg/hub/api/grpc/storage_backend/storage_backend.pb.go
  pkg/hub/api/grpc/storage_backend/storage_backend_grpc.pb.go
Labels: enhancement, area/hub

#642 Migrate context list to config storage
  cmd/cli/cmd/config/get.go
  cmd/cli/cmd/config/set.go
  cmd/cli/cmd/login.go
  cmd/cli/cmd/logout.go
  internal/cli/config/store.go
  internal/cli/credstore/store.go
Labels: enhancement, area/cli

#627 Add support for Homebrew
  .github/workflows/branch-build.yaml
  .github/workflows/pr-build.yaml
  .goreleaser.latest.yml
  .goreleaser.yml
  Dockerfile.cli
  Makefile
  cmd/populator/docs/populator_register-ocf-manifests.md
  hack/eks/terraform/templates/bastion_userdata.sh.tpl
Labels: enhancement, area/cli, area/community, area/ci, area/dashboard

#643 Add Dgraph investigation
  .github/workflows/pr-build.yaml
  docs/investigation/local-hub-v2/README.md
  docs/investigation/local-hub-v2/dgraph/README.md
  docs/investigation/local-hub-v2/dgraph/assets/populate.sh
  docs/investigation/local-hub-v2/dgraph/assets/scenario.graphql
  docs/investigation/local-hub-v2/dgraph/assets/schema.graphql
  docs/investigation/local-hub-v2/dgraph/docker-compose.yml
  docs/investigation/local-hub-v2/dgraph/lambda/.dockerignore
  docs/investigation/local-hub-v2/dgraph/lambda/Dockerfile
  docs/investigation/local-hub-v2/dgraph/lambda/README.md
  docs/investigation/local-hub-v2/dgraph/lambda/docker-compose.yml
  docs/investigation/local-hub-v2/dgraph/lambda/go.mod
  docs/investigation/local-hub-v2/dgraph/lambda/go.sum
  docs/investigation/local-hub-v2/dgraph/lambda/internal/generated/generated.go
  docs/investigation/local-hub-v2/dgraph/lambda/internal/model/models_gen.go
  docs/investigation/local-hub-v2/dgraph/lambda/internal/resolvers/field.resolver.go
  docs/investigation/local-hub-v2/dgraph/lambda/internal/resolvers/middleware.resolver.go
  docs/investigation/local-hub-v2/dgraph/lambda/internal/resolvers/mutation.resolver.go
  docs/investigation/local-hub-v2/dgraph/lambda/internal/resolvers/query.resolver.go
  docs/investigation/local-hub-v2/dgraph/lambda/internal/resolvers/resolver.go
  docs/investigation/local-hub-v2/dgraph/lambda/internal/resolvers/webhook.resolver.go
  docs/investigation/local-hub-v2/dgraph/lambda/lambda.yaml
  docs/investigation/local-hub-v2/dgraph/lambda/main.go
  docs/investigation/local-hub-v2/postresql/README.md
  docs/investigation/local-hub-v2/postresql/graphjin/Dockerfile
  docs/investigation/local-hub-v2/postresql/graphjin/README.md
  docs/investigation/local-hub-v2/postresql/graphjin/cloudbuild.yaml
  docs/investigation/local-hub-v2/postresql/graphjin/config/dev.yml
  docs/investigation/local-hub-v2/postresql/graphjin/config/migrations/0_init.sql
  docs/investigation/local-hub-v2/postresql/graphjin/config/prod.yml
  docs/investigation/local-hub-v2/postresql/graphjin/config/seed.js
  docs/investigation/local-hub-v2/postresql/graphjin/docker-compose.yml
Labels: area/hub, area/documentation

#648 Fix binary location
  hack/lib/utilities.sh
Labels: bug, area/cli, area/ci
