Repository capactio/capact, pull requests merged in 2022-01, with the labels that each got.

#595 Fix getting input parameters in interactive mode
  cmd/argo-actions/main.go
  cmd/cli/cmd/hub/interfaces/browse.go
  hub-js/graphql/local/schema.graphql
  hub-js/graphql/public/schema.graphql
  internal/cli/action/create_opts.go
  internal/cli/capact/os.go
  pkg/engine/api/graphql/schema.graphql
  pkg/engine/api/graphql/schema_gen.go
  pkg/hub/api/graphql/local/schema_gen.go
  pkg/hub/api/graphql/public/schema_gen.go
Labels: bug, area/cli

#597 Escape dashes in capact-when field
  pkg/sdk/renderer/argo/dedicated_renderer.go
  pkg/sdk/renderer/argo/dedicated_renderer_test.go
Labels: bug, area/hub-manifests

#603 Enable Gateway CORS by default
  deploy/kubernetes/charts/capact/charts/gateway/values.yaml
  internal/cli/capact/defaults.go
Labels: bug, area/gateway, area/dashboard

#606 Delete remote-sync.yaml
  .github/workflows/remote-sync.yaml
Labels: enhancement

#582 Allow to use many location in dbpopulator
  cmd/populator/cmd/register/ocf_manifests.go
  cmd/populator/cmd/register/ocf_manifests_test.go
  cmd/populator/docs/populator_register-ocf-manifests.md
  deploy/kubernetes/charts/capact/charts/hub-public/templates/_helpers.tpl
  deploy/kubernetes/charts/capact/charts/hub-public/templates/deployment.yaml
  deploy/kubernetes/charts/capact/charts/hub-public/values.yaml
  internal/getter/getter.go
  pkg/runner/terraform/runner.go
  pkg/sdk/dbpopulator/config.go
  pkg/sdk/dbpopulator/loader.go
  pkg/sdk/dbpopulator/loader_test.go
  pkg/sdk/dbpopulator/populator.go
Labels: enhancement, area/hub, area/documentation

#612 Fix Dgraph not supported links
  docs/investigation/graph-db/dgraph/README.md
Labels: bug, area/documentation

#617 Allow setting Dashboard image tag during Capact release
  .github/workflows/make-release.yaml
  hack/make-release.sh
Labels: enhancement, area/ci

#620 Add support to find Types based on prefix of parent nodes
  hub-js/README.md
  hub-js/graphql/public/schema.graphql
  pkg/hub/api/graphql/public/schema_gen.go
  pkg/hub/client/public/client.go
  pkg/sdk/dbpopulator/populator.go
  test/e2e/hub_test.go
Labels: enhancement, area/hub, area/cli, area/documentation

#621 Validate parent nodes in manifests
  cmd/cli/cmd/hub/interfaces/get.go
  go.mod
  internal/cli/client/hub.go
  internal/regexutil/string.go
  pkg/hub/client/client.go
  pkg/hub/client/fake/fake.go
  pkg/hub/client/public/client.go
  pkg/hub/client/public/type_options.go
  pkg/hub/client/public/type_rev_fields.go
  pkg/hub/client/public/type_rev_options.go
  pkg/runner/helm/config_loader.go
  pkg/sdk/apis/0.0.1/types/types.extend.go
  pkg/sdk/validation/fake_hub.go
  pkg/sdk/validation/interfaceio/validator.go
  pkg/sdk/validation/interfaceio/validator_test.go
  pkg/sdk/validation/manifest/fsvalidator_test.go
  pkg/sdk/validation/manifest/helpers_test.go
  pkg/sdk/validation/manifest/json_interface.go
  pkg/sdk/validation/manifest/json_remote_helper.go
  pkg/sdk/validation/manifest/json_remote_implementation.go
  pkg/sdk/validation/manifest/json_remote_implementation_export_test.go
  pkg/sdk/validation/manifest/json_remote_implementation_test.go
  pkg/sdk/validation/manifest/json_remote_type.go
  pkg/sdk/validation/manifest/json_type.go
  pkg/sdk/validation/manifest/schema_validate.go
  pkg/sdk/validation/manifest/schema_validate_test.go
  pkg/sdk/validation/manifest/testdata/invalid-implementation.yaml
  pkg/sdk/validation/manifest/testdata/invalid-type_additionalRefs.yaml
  pkg/sdk/validation/policy/fixtures_test.go
  pkg/sdk/validation/policy/policy.go
  pkg/sdk/validation/policy/policy_test.go
  pkg/sdk/validation/type_refs.go
  pkg/sdk/validation/type_refs_test.go
  test/e2e/hub_test.go
Labels: enhancement, area/cli, area/hub-manifests

#623 Update populator to properly resolve requires section in Implementation
  hub-js/graphql/public/examples.graphql
  hub-js/graphql/public/examples.variables.json
  pkg/sdk/dbpopulator/populator.go
Labels: enhancement, area/hub, area/cli
